<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../public/css/index.css">
<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="topnav">
      <a class="active" href="/home">Home</a>
      <div class="topnav-right">
        <a href="/map">Map</a>
        <a href="/form">Form</a>
        <a href="/about">About</a>
      </div>
    </div>
</nav>

<!-- Header -->
<header>
  <script src="js/home.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
  <link rel="stylesheet" href="css/Home.css">
  <link rel="stylesheet" href="css/about.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <title>Chad Farming Solutions - About Us</title>
</header>

<body>

  <section class="about">
    <section>
      <div id="heading-team">
        <div class="container heading-text">
          <h4 class="heading-title">About Us</h4>
          <hr>
          <h1>About the developers of this website</h1>
          <p class="heading-filler">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas semper semper
            ligula eget eleifend. Cras sollicitudin,
            justo condimentum efficitur hendrerit, odio magna dictum ligula, id tincidunt augue lectus ac ipsum. Sed
            feugiat neque nisl,
            et volutpat odio tristique vel. Suspendisse venenatis tortor est, sit amet volutpat turpis suscipit nec.
            Nam.</p>
        </div>
      </div>
    </section>


    <section>
      <div class="container content">

        <h2 class="page-headings" id="prev-title">Team member information and roles</h2>

        <div class="penta-column">
          <div>
            <img src="./images/placeholder-person.jpg" class="member-image" alt="Member 1" title="Member 1">
          </div>
          <div>
            <img src="./images/placeholder-person.jpg" class="member-image" alt="Member 2" title="Member 2">
          </div>
          <div>
            <img src="./images/placeholder-person.jpg" class="member-image" alt="Member 3" title="Member 3">
          </div>
          <div>
            <img src="./images/placeholder-person.jpg" class="member-image" alt="Member 4" title="Member 4">
          </div>
          <div>
            <img src="./images/placeholder-person.jpg" class="member-image" alt="Member 5" title="Member 5">
          </div>
        </div>

        <div class="penta-column">
          <!--Arranged in this way to make sure headers of different lengths will be of the same height-->
          <div>
            <h1 class="member-name">Manuel Dogbatse</h1>
            <p>Student ID: 100xxxxxx</p>
            <p class="member-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dolor massa,
              luctus a condimentum mollis, egestas non felis. Nullam nec aliquet urna.
              Nunc suscipit tincidunt nibh vel pellentesque. Maecenas pellentesque, eros sed congue pellentesque, risus.
            </p>
          </div>

          <div>
            <h1 class="member-name">Rex Borda</h1>
            <p>Student ID: 100xxxxxx</p>
            <p class="member-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ex purus. Sed
              convallis eros eget nulla eleifend semper. Aenean tempus rutrum libero sed venenatis.
              Quisque efficitur sapien non aliquam egestas. Proin quis sapien felis. Etiam mattis accumsan tortor ut
              faucibus. Interdum.</p>
          </div>

          <div>
            <h1 class="member-name">Nathan Cook</h1>
            <p>Student ID: 100xxxxxx</p>
            <p class="member-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis purus vel
              suscipit volutpat.
              Quisque hendrerit elit non quam commodo, nec dignissim enim dapibus. Integer gravida sem a.</p>
          </div>

          <div>
            <h1 class="member-name">Joseph Cavaliero</h1>
            <p>Student ID: 100xxxxxx</p>
            <p class="member-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a ex sapien.
              Ut lectus ligula, vehicula ut venenatis eget, elementum sed purus.
              Sed eget blandit tellus. Praesent tempor ex eget arcu malesuada, sit amet congue velit tristique.</p>
          </div>

          <div>
            <h1 class="member-name">Joshua Loh</h1>
            <p>Student ID: 100xxxxxx</p>
            <p class="member-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sagittis eros mauris,
              vel venenatis nibh hendrerit a.
              Mauris quis aliquet massa, a porttitor turpis. Proin interdum sodales orci, ac.</p>
          </div>
        </div>

        <div class="penta-column">
          <div>
            <p><a href="mailto:M.Dogbatse@uea.ac.uk" class="column-button">Email Me</a></p>
          </div>
          <div>
            <p><a href="mailto:r.borda@uea.ac.uk" class="column-button">Email Me</a></p>
          </div>
          <div>
            <p><a href="mailto:N.Cook1@uea.ac.uk" class="column-button">Email Me</a></p>
          </div>
          <div>
            <p><a href="mailto:J.Cavaliero@uea.ac.uk" class="column-button">Email Me</a></p>
          </div>
          <div>
            <p><a href="mailto:J.Qishen@uea.ac.uk" class="column-button">Email Me</a></p>
          </div>
        </div>

      </div>
    </section>
  </section>

  <footer>
    <div class="footer-column">
      <div>
        <h3 class="page-headings">Created by</h3>
        <img src="./images/placeholder-logo.jpg" class="footer-cmp" alt="Chad Farrming Solutions"
          title="Chad Farrming Solutions">
        <p>©2019 <b>Chad Farrming Solutions</b><br> In collaboration with <b>Engineering Without Borders</b></p>
      </div>

      <div>
        <h3 class="page-headings">In collaboration with</h3>
        <a href="https://www.ewb-uk.org" target="_blank"><img src="./images/ewb-logo.png" class="footer-ewb"
            alt="Engineering Withour Borders" title="Engineering Withour Borders"></a>
      </div>

      <div>
        <h3 class="page-headings">Contact us</h3>
        <p>
          Chad Farming Solutions<br>
          151 Buckingham Palace Rd,<br>
          London,<br>
          SW1W 9SZ<br>
        </p>
        <p>
          For more information: enquiries@chadfarming.org.uk
        </p>
        <a href="mailto:enquiries@chadfarming.org.uk" class="contact-button">Email Us</a>
      </div>
    </div>
  </footer>
  <a href="/about" class="page-scroll btn btn-xl" download>Download Page Contents</a>
</body>

</html>