<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../public/css/index.css">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="topnav">
    <a class = "active" href="/home">Home</a>
    <div class="topnav-right">
    <a href="/map">Map</a>
    <a href="/form">Form</a>
    <a href="/about">About</a>
    </div>
    </div>
    </nav>
    
    <!-- Header -->
    <header>
      <link rel="stylesheet" href="css/other.css">
</head>
<a href="/about" class="page-scroll btn btn-xl" download>Download Page Contents</a>
</html>