<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CFS :: FORM</title>
</head>
<body>
    <h2>CHAD FARMING SOLUTIONS</h2>
    <form action="" method="post">
        <label for="question1">Question 1:</label><br>
        <!-- I want to send the data inputted here to the console and log it -->
        <input type="text" id="question1" name="question1"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>

<!-- <label for="question2">Question 2:</label><br>
    <input type="radio" id="qu2opt1" name="question2" value="1">
    <label for="qu2opt1">Option 1</label><br>
    <input type="radio" id="qu2opt2" name="question2" value="2">
    <label for="qu2opt2">Option 2</label><br>
    <input type="radio" id="qu2opt3" name="question2" value="3">
    <label for="qu2opt3">Option 3</label><br>

    <label for="question3">Question 3:</label><br>
    <input type="checkbox" id="qu3opt1" name="qu3opt1" value="1">
    <label for="qu3opt1">Option 1</label><br>
    <input type="checkbox" id="qu3opt2" name="qu3opt2" value="2">
    <label for="qu3opt2">Option 2</label><br>
    <input type="checkbox" id="qu3opt3" name="qu3opt3" value="3">
    <label for="qu3opt3">Option 3</label><br> -->