<!DOCTYPE html>
<html lang="en">

<!-- Brand and toggle get grouped for better mobile display -->
<div class="topnav">
  <a class="active" href="/home">Home</a>
  <div class="topnav-right">
    <a href="/map">Map</a>
    <a href="/form">Form</a>
    <a href="/about">About</a>
  </div>
</div>
</nav>

<!-- Header -->
<header>
  <link rel="stylesheet" href="css/other.css">
  <!-- <link rel="stylesheet" href="css/Home.css"> -->
  <link rel="stylesheet" href="css/about.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
</header>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CFS :: FORM</title>
</head>

<body>
  <h2>FORM</h2>
  <form action="" method="POST">
    <label for="townName">What is the name of your town?:</label><br>
    <input type="text" id="townName" name="townName" size="50" maxlength="50" required><br>

    <label for="season">What season are you currently in?:</label><br>
    <input type="radio" id="seasonWet" name="season" value="Wet" required>
    <label for="seasonWet">Wet</label><br>
    <input type="radio" id="seasonDry" name="season" value="Dry">
    <label for="seasonDry">Dry</label><br>


    <p>What are the following environmental factors in your town during this season?</p>

    <label for="temperature">Average temperature of the soil (Between 0 °C - 100 °C):</label><br>
    <input type="number" id="temperature" name="temperature" min="0" max="30" size="4" required>
    <label for="temperature">°C</label><br>

    <label for="rainfall">Average rainfall (Between 0 mm - 2000 mm):</label><br>
    <input type="number" id="rainfall" name="rainfall" min="0" max="2000" size="5" required>
    <label for="rainfall">mm</label><br>

    <label for="ph">Average pH of the soil (Between 1 - 14):</label><br>
    <input type="number" id="ph" name="ph" min="0" max="14" size="3" required><br>

    <p>Which of the following produce do you grow in your town?:</p>
    <label for="rice">Rice</label>
    <input type="radio" id="rice" name="produce" value="Rice"><br>
    <label for="yam">Yam</label>
    <input type="radio" id="yam" name="produce" value="Yam"><br>
    <label for="sub-clover">Sub Clover</label>
    <input type="radio" id="sub-clover" name="produce" value="Sub Clover"><br>
    <input type="submit" value="Submit">
  </form>

  <footer>
    <div class="footer-column">
      <div>
        <h3 class="page-headings">Created by</h3>
        <img src="./images/placeholder-logo.jpg" class="footer-cmp" alt="Chad Farrming Solutions"
          title="Chad Farrming Solutions">
        <p>©2019 <b>Chad Farrming Solutions</b><br> In collaboration with <b>Engineering Without Borders</b></p>
      </div>

      <div>
        <h3 class="page-headings">In collaboration with</h3>
        <a href="https://www.ewb-uk.org" target="_blank"><img src="./images/ewb-logo.png" class="footer-ewb"
            alt="Engineering Withour Borders" title="Engineering Withour Borders"></a>
      </div>

      <div>
        <h3 class="page-headings">Contact us</h3>
        <p>
          Chad Farming Solutions<br>
          151 Buckingham Palace Rd,<br>
          London,<br>
          SW1W 9SZ<br>
        </p>
        <p>
          For more information: enquiries@chadfarming.org.uk
        </p>
        <a href="mailto:enquiries@chadfarming.org.uk" class="contact-button">Email Us</a>
      </div>
    </div>
  </footer>
</body>

</html>