<!-- Navigation -->
<title>CFS :: HOME</title>
<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="topnav">
      <a class="active" href="/home">Home</a>
      <div class="topnav-right">
        <a href="/map">Map</a>
        <a href="/form">Form</a>
        <a href="/about">About</a>
      </div>
    </div>
</nav>

<!-- Header -->
<header>
  <img>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
  <link rel="stylesheet" href="css/Home.css">
  <link rel="stylesheet" href="css/about.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">Welcome To Chad Farming Solutions</div>
      <div class="intro-lead-in">Please select a function
      </div>
      <a href="/map" class="page-scroll btn btn-xl">Map</a>
      <a href="/form" class="page-scroll btn btn-xl">Form</a>
      </img>
    </div>
  </div>
</header>
<footer>
  <div class="footer-column">
    <div>
      <h3 class="page-headings">Created by</h3>
      <img src="./images/placeholder-logo.jpg" class="footer-cmp" alt="Chad Farrming Solutions"
        title="Chad Farrming Solutions">
      <p>©2019 <b>Chad Farrming Solutions</b><br> In collaboration with <b>Engineering Without Borders</b></p>
    </div>

    <div>
      <h3 class="page-headings">In collaboration with</h3>
      <a href="https://www.ewb-uk.org" target="_blank"><img src="./images/ewb-logo.png" class="footer-ewb"
          alt="Engineering Withour Borders" title="Engineering Withour Borders"></a>
    </div>

    <div>
      <h3 class="page-headings">Contact us</h3>
      <p>
        Chad Farming Solutions<br>
        151 Buckingham Palace Rd,<br>
        London,<br>
        SW1W 9SZ<br>
      </p>
      <p>
        For more information: enquiries@chadfarming.org.uk
      </p>
      <a href="mailto:enquiries@chadfarming.org.uk" class="contact-button">Email Us</a>
    </div>
  </div>
</footer>