<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/index.css">
  <div class="topnav">
    <a class="" href="#home">Home</a>
    <a href="form.ejs">Form</a>
    <a href="map.ejs">Map</a>
    <a href="about.ejs">About</a>
    <input type="text" placeholder="Search..">
  </div>
  </head>

  <body>
    "Welcome To Chad Farming Solutions"
  </body>


  <div class="button-left">
    <button type="button" class="btn btn-primary" a href="form.ejs"> Form</button>
  </div>
  </div>


  <div class="button-right">
    <button type="button" class="btn btn-primary" a href="map.ejs"> Map</button>
  </div>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Auto width -->
  <a href = "/index" download>
  <button class="button"><i class="fa fa-download"></i> Download</button>
</a>

</html>