<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CFS :: MAP</title>
    <link rel="stylesheet" href="css/map.css">
    <script src="js/map.js" defer></script>

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="topnav">
        <a href="/home">Home</a>
        <div class="topnav-right">
        <a href="/map">Map</a>
        <a href="/form">Form</a>
        <a href="/about">About</a>
        </div>
        </div>
        </nav>
        
        <!-- Header -->
        <header>
          <link rel="stylesheet" href="css/other.css">
        </header>
</head>
<body>
    <h2>MAP</h2>
    <p id="description">Select your town from the map, or select the custom environmental factors you have already submitted on the form to view their graphs</p>
    <div id="map-wrapper">
        <div id="map">
        </div>
    </div>
    <div id="custom-value-select-wrapper">
        <div id="custom-value-select-label">
            <div id="custom-value-select-label-text">
                CUSTOM ENVIRONMENTAL FACTORS
            </div>
        </div>
        <div id="custom-values">
        </div>
    </div>
</body>
</html>
