<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CFS :: MAP</title>
    <link rel="stylesheet" href="css/map.css">
    <script src="js/map.js" defer></script>
</head>
<body>
    <script></script>

    <div id="map-wrapper">
        <div id="map">
        </div>
    </div>
    <div id="custom-value-select-wrapper">
        <div id="custom-value-select-label">
            CUSTOM ENVIRONMENTAL FACTORS
        </div>
        <div id="custom-values">
        </div>
    </div>
</body>
</html>
